<%- include('partials/head')%>
    <div>
        <a href="/new-category">New Category</a>
        <a href="/">Homepage</a>
    </div>
    <div>
        <h1>
            <%= categoryName %>
        </h1>
    </div>
  </body>
</html>