<%- include('partials/head')%>
    <div class="nav-container">
        <a href="/">Back</a>
    </div>
    <form action="/new-category" method="POST" class="new-category-form">
        <h2>New Category</h2>
        <fieldset class="info-fields">
            <label for="name" >
                Name:
                <input type="text" name="name" required value=<%=`${category[0].name}`%>>
            </label>
            <label for="description">
                Description:
                <textarea name="description" id="" cols="30" rows="10" required ><%=`${category[0].description}`%></textarea>
            </label>
        </fieldset>
        <fieldset>
            <input type="submit" class="submit-button">
            <button>Delete</button>
        </fieldset>
    </form>
  </body>
</html>