<%- include('partials/head')%>
    <div>
        <a href="/new-category">New Category</a>
    </div>
    <div>
        <% categories.map((value) => { %>
            <div>
                <a href=<%=`/category/${value.name}`%>>
                    <p><%=value.name%></p>
                    <p><%=value.description%></p>
                </a>
            </div>
        <% }) %>
    </div>
  </body>
</html>
