<%- include('partials/head')%>
    <h2>New Item</h2>
    <div>
        <a href="/">Back</a>
    </div>
    <form action="/new-item" method="POST">
        <fieldset>
            <label for="name">
                Name:
                <input type="text" name="name" required>
            </label>
            <label for="description">
                Description:
                <textarea name="description" id="" cols="30" rows="10" required></textarea>
            </label>
            <label for="category">
                Category
                <input type="text" name="category">
            </label>
            <label for="price">
                Price
                <input type="number" name="price">
            </label>
            <label for="number_in_stock">
                Number in Stock:
                <input type="number" name="number_in_stock" value=0>
            </label>
            <label for="submit">
                <input type="submit">
            </label>
        </fieldset>
    </form>
  </body>
</html>